@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

#root {
  max-width: 1700px;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins";
  font-size: small;
  background-color: rgb(1, 9, 17);
}

body {
  background-color: rgb(1, 9, 17);
}
